.NavItem {
    width: 80%;
    height: 25px;
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
    font-size: 25px;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(211, 211, 211);
    
}

.NavItem span {
    /* margin-left: 10px; */
    margin-left: 15px;
    color: white;
}
.nav-icon {
    color: white;
    width: 20px;
    height: 20px;
}