# Ignore node_modules directory
node_modules/

# Ignore build artifacts
/build
/dist

# Ignore environment-specific files
.env
.venv
.env.local
.env.*.local

# Ignore compiled Python files
*.pyc

# Ignore Django's secret key file
secret_key.txt

# Ignore IDE and editor files
.vscode/
*.code-workspace
*.sublime-*

# Ignore editor-specific temporary files
*~
.*.sw[mnpcod]
*.swp

# Ignore log files
*.log

# Ignore database files
db.sqlite3

# Ignore media and static files
/media
/static

# Ignore package-lock.json for Yarn
package-lock.json

# Ignore pipenv virtual environment
/.venv

# Ignore macOS system files
.DS_Store

# Ignore any other file or directory you want to exclude