.about{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content {
    backdrop-filter: blur(19px) saturate(65%);
    -webkit-backdrop-filter: blur(19px) saturate(65%);
    background-color: rgba(255, 255, 255, 0.36);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    width:35%;
    height: 70%;
    text-align: center;
  }
  
  .more-info-button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
  }