/* styles.css */

.menu-content {
  display: none;
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%; 
  height: 100%; /* Set initial height to 0 */
  z-index: 5;
  overflow: hidden; /* Hide overflow content */
transition: top 50s ease; /* Adjust the duration for a slower transition */

}
.menu-content.show {
  top: 0;
  display: flex; 
  flex-direction: column;  
}
.menu-content > img {
  width: 100%;
  height: 100%;
}
.menu-container {
position: absolute;
top: 0;
left: 0;
background-color: #061e6e;
z-index: 4;
width: 100%;
height: 100%;
opacity: 0.6;
padding: 2rem;
}
.menu-header {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.menu-header img {
  max-height: 90%;
  margin: 0 1rem 0 1rem;
}
.menu-header .close_icon {
  font-size: 30px;
  color: white;
  cursor: pointer;
}
.menu-elements {
  width: 100%;
  height: 90vh;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  
}
.menu-child {
  width: 30%;
  height: 100%;
  color: white;
  padding-top: 40px;
}
.menu-child li {
  list-style: none;
  font-size: 35px;
  margin-bottom: 30px;
  position: relative;
  cursor: pointer;
}
.menu-child li:hover::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80%;
  height: 2px; /* Adjust the height to control the line thickness */
  background-color: white; /* Adjust the color as needed */
  font-weight: bold;
}


  
  