/* nouveaute.css */

.nouveaute {
    width: 90%;
    margin: 0 auto; /* Center the container */
    height: auto;
    min-height: 120vh;


  }
  
.actualite {
    max-width: 26rem;
    height: 30rem;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    margin-right: 15px;
    border-radius: 10px; 
}
.actualite_header {
  height: 40%;
  width: 100%;
  border-radius: 10px 10px 0 0; 
}
.actualite_header img {
max-width: 100%;
min-width: 100%;
max-height: 100%;
border-radius: 10px 10px 0 0; 
}
.actualite_description {
  text-align: left;
  padding: 1rem;
}
.actualite_description button {
  margin: 20px 0 0 0;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  color: white;
  background-color: #061e6e;
  border: none;
  border-radius: 5px;
}
  /* Styles for the next and previous arrows */
.slick-prev,
.slick-next {
  font-size: 0; /* Adjust the font size */
  color: transparent; /* Set the arrow color */
  background: #555; /* Set the background color */
  display: flex;
  align-items: center;
  justify-content: center;
}
.slick-prev:hover,
.slick-next:hover {
  background: #555; /* Set the background color on hover */
}

/* Styles for the dots */
.slick-dots {
  position: absolute;
  bottom: 0px; /* Adjust the distance from the bottom */
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-dots li {
  margin: 0 5px; /* Adjust the space between dots */
}

.slick-dots button {
  font-size: 12px; /* Adjust the font size of the dots */
  color: #333; /* Set the color of inactive dots */
  opacity: 0.7; /* Set the opacity of inactive dots */
}
