/* nouveaute.css */

.nouveaute {
  display: inline-block;
     width: 100%;
    margin: 0 auto; /* Center the container */
    height: 90vh;
    align-items: center;
    justify-content: center;
    text-align: center;
   

  }
  .nouveaute h2{
    color: #061e6e;
    font-size:xx-large;
  
  }
.actualite {
  margin: 0 10px; /* Adjust the margin as needed for spacing between items */
    max-width: 26rem;
    height: 30rem;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    margin-right: 15px;
    border-radius: 10px; 
    margin-bottom: 50px;
}
.actualite_header {
  height: 40%;
  width: 100%;
  border-radius: 10px 10px 0 0; 
}
.actualite_header img {
max-width: 100%;
min-width: 100%;
max-height: 100%;
border-radius: 10px 10px 0 0; 
}
.actualite_description {
  text-align: left;
  padding: 1rem;
}
.actualite_description button {
  margin: 20px 0 0 0;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  font-weight: bold;
  color: hwb(226 2% 57%);
  background-color: transparent;
  border: none;
  font-size: larger;
  border-radius: 5px;
}
  

/* Styles for the dots */
.slick-dots {
  position: absolute;
  bottom: 0px; /* Adjust the distance from the bottom */
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-dots li {
  margin: 0 5px; /* Adjust the space between dots */
}

.slick-dots button {
  font-size: 12px; /* Adjust the font size of the dots */
  color: #333; /* Set the color of inactive dots */
  opacity: 1; /* Set the opacity of inactive dots */
}
.button-primary {
  transition: transform 0.2s ease; /* Add a smooth transition effect */
}

.button-primary:hover {
  transform: translateX(10px); /* Move the text 5 pixels to the right on hover */
}
