.scroll-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #061e6e;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    aspect-ratio: 1;
    width: 50px;
    text-align: center;
    line-height: 26px;
  }
  
  .scroll-to-top-button.visible {
    display: block;
  }
  