.Navbar {
    width: 100%;
    height: 10vh;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 1rem; */
}
.Navbar img {
    max-height: 80%;
    margin: 0.5rem 1rem 0.5rem 1rem;
}

@media (max-width: 768px) {
    .Navbar {
        justify-content: right;
    }
    .Navbar img {
      display: none;
    }
  }