.Navbar {
    width: 100%;
    flex-basis: 20%;
    min-height: 100vh;
    background-color: #333e4d;
    position: relative;
}
.Nav-container {
    position: sticky;
    top: 150px;
}
.Nav-container ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}