<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification</title>
</head>
<body>
    <p>
        Hello {{ user.fname }} {{ user.lname }},
    </p>
    <p>
        Your account has been successfully verified.
    </p>
    <p>
        You can now log in using your email ({{ user.email }}) and your password ({{ user.id }}).
    </p>
    <p>
        If you have any questions or need assistance, feel free to contact us.
    </p>
    <p>
        Best regards,<br>
        Isimm Team
    </p>
</body>
</html>
