.header_formaion {
    width: 100%;
    height: 70vh;
    position: relative;
}
.header_formaion img {
    width: 100%;
    height: 100%;
}
.header_cover {
    position: absolute;
    width: 100%;
    height: 70vh;
    left: 0;
    top: 0;
    background-color: #061e6e;
    opacity: 0.5;
}