.ListContainer {
    width: 100%;
    height: auto;
    min-height: 90vh;
    background-color: #f2f3f8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ListItems {
    width: 70%;
    height: auto;
}
table {
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
th {
    background-color: #003366;
    color: white;
    height: 40px;
}
tr {
    background-color: #ffffff;
    color: #333e4d;
    text-align: center;
}
th td {
    width: 14%;
    border: 1px solid white;
    padding: 10px;
    border-right: none;
}
tr td {
    width: 14%;
    border: 1px solid white;
    padding: 10px;
    border-right: none;
}