.Groupes {
    width: '100%';
    height: auto;
    min-height: 100vh;
    background-color: rgb(250,250,250);
    display: flex;
}
.GroupeForm {
    flex-basis: 35%;
    /* display: flex;
    justify-content: center;
    align-items: center;
    position: relative; */
    width: 100%;
    padding: 20px;
}
.GroupeForm > div {
    display: block;
    position: sticky;
    top: 100px;
}
.GroupeForm label {
    display: inline-block;
    width: 100%;
    text-transform: capitalize;
    font-weight: bold;
    font-size: medium;
    color: #061e6e;
    text-align: left;
    margin-bottom: 0.5rem;
}
.GroupeForm input , textarea , select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid rgb(151, 150, 150);
    box-shadow:  0 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 0.4rem;
    background-color: rgb(245, 245, 245);
    resize: none;
    margin-bottom: 20px;
}
.GroupeForm input:focus , textarea:focus , select:focus {
    outline: none;
}
.GroupeForm #button {
    width: 100%;
    background-color: #061e6e;
    border: none;
    color: white;
    border-radius: 1rem;
    padding: 0.5rem;
    cursor: pointer;  
}
#button_affect {
    width: 60%;
    background-color: #061e6e;
    border: none;
    color: white;
    border-radius: 1rem;
    padding: 0.5rem;
    cursor: pointer; 
    margin: 15px;
}
.GroupeList {
    flex-basis: 65%;
    width: 100%;
    padding-top: 3rem;
    padding-left: 15%;
}
.GroupeList .groupe-item {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    /* border-radius: 10px; */
    /* margin-bottom: 1rem; */
    border-bottom: 1px solid #f7f7f7;
}
.groupe-item p {
    width: 33%;
    text-align: center;
}