 

 
   
  /* Styles for the checkbox input */
  input[type='checkbox'] {
    width: 16px; /* Adjust the width as needed */
    height: 16px; /* Adjust the height as needed */
    margin-right: 5px; /* Add some margin to separate the checkbox from the label */
  }
  
  
  
  #checkbox-label {
     color: black;
    font-weight: normal;
  }
  
  .grouptitle{
color:#061e6e;
margin-bottom: 15px;;
  }